<footer class="card bg-dark" style="text-align: center;">
  <div class="row card-body">
    <div class="col-sm-4">
        <h5>Getting Started</h5>
        <a [routerLink]="['/login']" class="nav-link nav-item">Login</a>
        <a [routerLink]="['/register']" routerLinkActive="active" class="nav-link nav-item">Register</a>
        <a [routerLink]="['/course']" class="nav-link nav-item">Academics</a>
    </div>
    <div class="col-sm-4">
        <h5>About Us</h5>
        <a [routerLink]="['/about']" class="nav-link nav-item">About</a>
        <a [routerLink]="['/staff']" class="nav-link nav-item">Staffs</a>
        <a [routerLink]="['/contact']" class="nav-link nav-item">Contact Us</a>
    </div>
    <div class="col-sm-4">
        <h5>Support</h5>
        <a href="" class="nav-link nav-item">FAQ</a>
        <button class="btn btn-rounded" data-toggle="modal" data-target="#suggestionModal">Suggestion</button>
    </div>
  </div>
  <hr>
  <div class="text-center">
    <p>Made with <i class="fa fa-heart" style="color: hotpink"></i> by the Computer Science Department</p>
    <p class="bold"><a href="github.com/sethisidore/polac-portal.git">v 0.7.1</a></p>
  </div>
</footer>
