<section class="row">
    <section class="col">
      <h2>Faculties</h2>
      <ul>
        <li *ngFor="let faculty of faculties | async" [class.selected]="faculty.facultyId === selectedId">
          <a [routerLink]="['faculty', faculty.facultyId]">
            <span class="badge">{{ faculty.facultyId }}</span> {{ faculty.name }} {{ faculty.dean }}
          </a>
        </li>
      </ul>
    </section>

    <section class="col">
      <router-outlet></router-outlet>
    </section>
  </section>
