<section class="container-fluid row">
  <section class="col">
    <header>
      <h2>Departments</h2>
      <button class="btn-outline-success btn" data-toggle="modal" data-target="#deptModal" type="menu"
        (click)="onOpenDeptForm()">new department</button>
    </header>
    <ul>
      <li *ngFor="let dept of departments | async" [class.selected]="dept?.deptId === selectedId">
        <div class="card">
          <h6 class="card-title">
          </h6>
          <div class="card-body">
            <p class="card-text">Dept ID: {{ dept?.deptId }}</p>
            <p class="card-text">Head of Dept.:
              <a [routerLink]="['../staff']" class="card-link">
                {{ dept?.headOfDepartment?.firstName }}
              </a>
            </p>
          </div>
        </div>
      </li>
    </ul>
  </section>

  <section class="col">
    <router-outlet></router-outlet>
  </section>

  <section class="modal fade" id="deptModal" tabindex="-1" role="dialog" data-backdrop="static"
    aria-labelledby="addNewDepartment" aria-hidden="true">
    <section class="modal-dialog modal-dialog-centered modal-lg" role="form">
      <section class="modal-content">
        <section class="modal-header">
          <h5 class="modal-title" id="addNewDepartment">Create New Department</h5>
          <button class="btn btn-outline-danger" data-dismiss="modal"><i class="fa fa-close"></i></button>
        </section>

        <div class="modal-body">
          <form [formGroup]="deptForm" class="card-body">
            <div class="form-group row">
              <label for="deptId" class="form-control-label col-sm-4">Department ID: </label>
              <input type="text" class="form-control col-sm-8" formControlName="deptId">
            </div>
            <div class="form-group row">
              <label for="name" class="form-control-label col-sm-4">Name: </label>
              <input type="text" class="form-control col-sm-8" formControlName="name">
            </div>
            <div class="form-group row">
              <label for="hod" class="form-control-label col-sm-4">H.O.D: </label>
              <select class="custom-select col-sm-8" formControlName="headOfDepartment">
                <option *ngFor="let lecturer of lecturers" [value]="lecturer?._id">
                  {{ lecturer?.fullname }}
                </option>
              </select>
            </div>

            <fieldset>
              <legend>Accreditation</legend>
              <div formGroupName="accreditation">
                <div class="form-group row">
                  <label for="status" class="form-control-label col-sm-4">status: </label>
                  <select class="custom-select col-sm-8" formControlName="status">
                    <option *ngFor="let choice of ['true', 'false']" [value]="choice">{{ choice }}</option>
                  </select>
                </div>
                <div class="form-group row">
                  <label for="date" class="form-control-label col-sm-4">date: </label>
                  <input class="form-control col-sm-8" type="date" formControlName="date">
                </div>
              </div>
            </fieldset>
          </form>
        </div>

        <div class="modal-footer">
          <button class="btn btn-rounded btn-outline-info btn-block waves-effect z-depth-0"
            type="submit" [disabled]="!deptForm.valid" (click)="onSubmit()">Submit</button>
        </div>
      </section>
    </section>
  </section>

</section>
