<section class="row">
  <section class="col">
    <header>
      <h2>Departments</h2>
      <a routerLink="new" class="btn btn-default btn-outline-info">Create new</a>
    </header>
    <ul>
      <li *ngFor="let dept of departments | async" [class.selected]="dept?.deptId === selectedId">
        <a [routerLink]="['department', dept?.deptId]">
          <span class="badge">{{ dept?.deptId }}</span> {{ dept?.name }}
        </a>
      </li>
    </ul>
  </section>

  <section class="col">
    <router-outlet></router-outlet>
  </section>
</section>
