<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-info sticky-top d-print">
    <div class="navbar-header">
      <a href="" class="navbar-brand">Nigeria Police Academy</a>
      <button class="navbar-toggler collapsed" type="button btn-md" data-toggle="collapse" data-target="#menuLinks"
        aria-expanded="false" aria-controls="menuLinks">
        <span class="sr-only">Toggle Navigation</span>
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <!-- menu left -->
    <div class="collapse navbar-collapse navbar-left" id="menuLinks">
      <ul class="navbar-nav navbar-pills ml-auto">
        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link nav-item">Home</a>
        <a [routerLink]="['/course']" routerLinkActive="active"  class="nav-link nav-item">Academics</a>
        <a [routerLink]="['/department']" routerLinkActive="active"  class="nav-link nav-item">Departments</a>
        <a [routerLink]="['/faculty']" routerLinkActive="active"  class="nav-link nav-item">Faculty</a>
      </ul>
    </div>

    <!-- menu right-->
    <div class="collapse navbar-collapse navbar-right" id="menuLinks">
      <ul class="navbar-nav navbar-pills mr-auto">
        <li class="nav-item" role="presentation" *ngIf="auth.isLoggedIn()">
          <a class="nav-link">Login</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="auth.isLoggedIn()">
          <a [routerLink]="['account', auth.login()]"
          routerLinkActive="active" class="nav-link">Profile</a>
        </li>
        <li class="nav-item" role="presentation" *ngIf="!auth.isLoggedIn()">
          <a [routerLink]="['account/logout']" class="nav-link" (click)="auth.logout()">Logout</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Progress Bar -->
  <div *ngIf="loading" class="progress" style="height: 0.2px">
    <div class="progress-bar progress-bar-active progress-bar-striped" role="progressbar"></div>
  </div>
</header>
