<form class="col-md-10">
  <fieldset class="form-group">
    <legend>Personal Information</legend>
    <div class="row">
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="firstName" placeholder="First name">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="lastName" placeholder="Last name">
      </div>
      <div class="col-md-4">
        <input type="text" class="form-control" ng-model="midName" placeholder="Middle name(optional)">
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="date of birth">Date of Birth:</label>
      <input type="date" ng-model="DoB">
    </div>
    <div class="form-group row">
      <label for="first name">First Name</label>
      <input type="text" class="custom-control-input" ng-model="signup.D" placeholder="First name">
    </div>
  </fieldset>
  <fieldset>
    <p class="important">Tell us who you are:</p>
    <div ng-init="">
      <select ng-model="signup.squads" ng-options="squad.label as squad.value for squad in signup.squads"></select>
    </div>
    <p> selected: {{ signup.selectedSquad }}</p>
  </fieldset>
  <fieldset>
    <legend>Account Information</legend>
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">@</div>
        </div>
        <input type="text" class="form-control" id="inlineFormInputGroupUsername" placeholder="Username">
      </div>
      <div>
        <input type="password" class="form-control" ng-model="password" placeholder="password">
      </div>
    </div>
  </fieldset>
  <button class="btn-primary">Signup</button><!-- Add submitForm() to this -->
</form>