<div [class.hidden] = "!show">
  <div class="wrapper">
    <div class="overlay">
      <div class="spinner-wrapper">
        <div class="container">
          <div class="row">
            <div class="" id="loader">
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="dot"></div>
              <div class="loading"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ng-content></ng-content>
</div>
