<!-- name -->
<div class="form-group">
  <input type="text" class="form-control" ng-model="faculty.name" placeholder="Science, Humanities">
</div>
<!-- id -->
<div class="form-group">
  <input type="number" class="form-control" ng-model="faculty.fac_id" min="01" max="04" placeholder="3">
</div>
<!-- dean -->
<div class="custom-control custom-select">
  <select class="custom-select" ng-model="faculty.dean" ng-repeat="lecturer in facultyVm.lecturers">
    <option>{{ lecturer.fullname }}</option>
  </select>
</div>
<div class="form-group">
  <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" ng-submit="submit">
    Create
  </button>
</div>