<section class="row">
  <section class="col">
    <header>
      <h2>Courses</h2>
      <a routerLink="new" class="btn btn-default btn-outline-info">Create New</a>
    </header>
    <ul>
      <li *ngFor="let course of courses | async" [class.selected]="course.courseId === selectedId">
        <a [routerLink]="['course', course.courseId]">
          <span class="badge">{{ course.courseId }}</span> {{ course.title }}
        </a>
      </li>
    </ul>
  </section>
  <section class="col">
    <router-outlet></router-outlet>
  </section>
</section>
